jupyter_client=8.8.0
jupyter_core=5.9.1
matplotlib=3.10.8
numba=0.63.1
numpy=2.3.5
openpyxl=3.1.5
pandas=2.3.3
pip=26.0.1
pixman=0.46.4
plotly=6.5.0
prettytable=3.16.0
pulp=3.2.2
python=3.11.14
pyyaml=6.0.3
scikit-image=0.26.0
scikit-learn=1.7.1
scipy=1.17.0
streamlit=1.54.0
sympy=1.14.0
jupyter==1.1.1
pybit==5.14.0
torch==2.10.0
tqdm==4.67.3
yahooquery==2.4.1
